.app {
  display: flex;
  height: 82vh; 
  width: 90vw; 
  margin: 0 auto;
  transform: translateY(10%);
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
a {
  text-decoration: none;
}

