.toggledContact {
  background-color: #BBBBBB;
}

.contact {
  list-style-type: none;
  color: #5D5D5D;
  font: 200 16px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #B4B4B4;
  padding: 0.3rem;
}
